<form>
    <div class="form-group">
      <label for="exampleInputEmail1">{{list_form[0].typeInput}}</label>
      <input type="number" #left class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{list_form[0].typeInput}}>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">{{list_form[1].typeInput}}</label>
        <input type="number" #right class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{list_form[1].typeInput}}>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">{{list_form[2].typeInput}}</label>
        <input type="number" #leftCL class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{list_form[2].typeInput}}>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">{{list_form[3].typeInput}}</label>
        <input type="number" #rightCL class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{list_form[3].typeInput}}>
      </div>
    
    <button type="submit" class="btn btn-primary" (click)="update(left.value,right.value,leftCL.value,rightCL.value)">Submit</button>
  </form>